@model ProyectoSaberPro.Models.Enunciado

@{
    ViewBag.Title = "Detalles Enunciado";
    //Layout = "~/Views/Shared/_LayoutDocente.cshtml";
    Layout = "~/Views/Shared/LayoutDocente/_headerDocente.cshtml";

}

<h2>Details</h2>

<div>
    <h4>Enunciado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TItulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TItulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
