@model ProyectoSaberPro.Models.Prueba

@{
    ViewBag.Title = "Eliminar Prueba";
    //Layout = "~/Views/Shared/_LayoutDocente.cshtml";
    Layout = "~/Views/Shared/LayoutDocente/_headerDocente.cshtml";

}

<h3>¿Está seguro que desea eliminar  @Html.DisplayFor(model => model.Nombre)?</h3>
<div>
  
    <hr />
    <div class="panel panel-danger">
        <div class="panel-heading"><h4>@Html.DisplayFor(model => model.Nombre)</h4></div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Elaborado por")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nombre)
                </dd>

                <dt>
                    @Html.DisplayName("Nombre")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayName("Fecha Creación")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaCreacion)
                </dd>

            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
