@model ProyectoSaberPro.Models.OpcionViewModel

@{
    ViewBag.Title = "Eliminar Opcion";
    //Layout = "~/Views/Shared/_LayoutDocente.cshtml";
    Layout = "~/Views/Shared/LayoutDocente/_headerDocente.cshtml";

}


<div>
    <br />
    <h4>Se eliminarán las cuatro opciones de respuesta para la pregunta
        <strong>@Model.Pregunta</strong> </h4>
<hr />
<div class="panel panel-danger">
    <div class="panel-heading"><h4>Eliminar</h4></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Pregunta")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pregunta)
                <br />
            </dd>


            <dt>
                <br />
                @Html.DisplayName("A)")
            </dt>
            <dd>
                <br />
                @Html.DisplayFor(model => model.descA)
            </dd>
            <dt>
                <br />
                @Html.DisplayName("B)")
            </dt>
            <dd>
                <br />
                @Html.DisplayFor(model => model.descD)
            </dd>
            <dt>
                <br />
                @Html.DisplayName("C)")
            </dt>
            <dd>
                <br />
                @Html.DisplayFor(model => model.descC)
            </dd>
            <dt>
                <br />
                @Html.DisplayName("D)")
            </dt>
            <dd>
                <br />
                @Html.DisplayFor(model => model.descD)
            </dd>
            <dt>
                <br />
                @Html.DisplayName("Opcion Correcta")
            </dt>

            <dd>
                <br />
                <p><strong>@Model.OpcionCorrecta </strong></p>
            </dd>
        </dl>
    </div>
</div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index")
    </div>
}






