@model IEnumerable<ProyectoSaberPro.Models.Pregunta>

@{
    ViewBag.Title = "Pregunta";
    //Layout = "~/Views/Shared/_LayoutDocente.cshtml";
    Layout = "~/Views/Shared/LayoutDocente/_headerDocente.cshtml";

}

<h2><a href="@Url.Action("Create","Pregunta",null)" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Pregunta</a></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Competencia")

        </th>
        <th>
            @Html.DisplayName("Enunciado")
        </th>
        <th>
            @Html.DisplayName("Pregunta")
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competencia.Nombre)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enunciado.TItulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a href="@Url.Action("Details","Pregunta",new { id = item.Id })" class="btn btn-info btn-sm"><i class="fas fa-eye"></i> Detalles</a>
                <a href="@Url.Action("Edit","Pregunta",new { id = item.Id })" class="btn btn-warning btn-sm"><i class="fas fa-pen"></i> Editar</a>
                <a href="@Url.Action("Delete","Pregunta",new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Eliminar</a>
            </td>
        </tr>
    }

</table>
